# Searching the Catalog

This notebook will walk through quickly getting a list of where each file you're interested in is stored on the Globus endpoint

The packages [intake-esm](https://github.com/intake/intake-esm) and pandas are required to run this notebook.

In [8]:
import intake
import intake_esm
import pandas as pd
cat_url = "https://raw.githubusercontent.com/NOAA-GFDL/spear-flp/refs/heads/main/catalog_blue.json"

The first step is to load the catalog:

In [2]:
cat = intake.open_esm_datastore(cat_url)

Then we can run a search. Each argument is `<column> = "<value>"` or `<column> = ["<value1>", "<value2>"]`

In [20]:
subcat = cat.search(variable_id="WVP", experiment_id="SPEAR_c192_o1_Hist_AllForc_IC1921_K50",
        time_range="192101-193012")
subcat

A full list of column names can be obtained,

In [11]:
cat.df.columns

Index(['activity_id', 'institution_id', 'source_id', 'experiment_id',
       'frequency', 'realm', 'table_id', 'member_id', 'grid_label',
       'variable_id', 'time_range', 'chunk_freq', 'platform', 'dimensions',
       'cell_methods', 'standard_name', 'pass_qc', 'who_qc', 'path'],
      dtype='object')

As well as the unique options for that column

In [12]:
set(cat.df['realm'])

{'atmos',
 'atmos_4xdaily',
 'atmos_4xdaily_avg',
 'atmos_daily',
 'land_daily',
 'ocean'}

To get the paths, we can access the data directly from the dataframe,

In [21]:
subcat.df.path

0     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
1     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
2     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
3     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
4     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
5     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
6     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
7     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
8     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
9     /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
10    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
11    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
12    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
13    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
14    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
15    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
16    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
17    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
18    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
19    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
20    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
21    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
22    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
23    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
24    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
25    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
26    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
27    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
28    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
29    /data/2/GFDL-LARGE-ENSEMBLES/TFTEST/SPEAR_c192...
Name: path, dtype: object

Then we can save to a file relevant for the Globus transfer,

In [32]:
x = []
for y in subcat.df.path:
    x.append(y.replace("/data/2/GFDL-LARGE-ENSEMBLES/TFTEST/", ""))
df2 = pd.DataFrame({"source" : x, "dest" : x})
df2.to_csv("my_search.txt", sep=' ', index=False, header=False)